---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments and post.comments %}
            {% if site.disqus != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p>
            {% elsif site.isso != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
            {% endif %}
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=8587646; 
var sc_invisible=0; 
var sc_security="15c070a8"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify traffic
stats" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/8587646/0/15c070a8/0/" alt="shopify
traffic stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
